@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-bg {
    background-image: url("../Assets/Images/bg-mobile-light.jpg");
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2rem ;
    padding-right: 2rem ;
}

.nav-menu {
    display: flex;
    padding-top: 10px;
    justify-content:space-between;
    justify-self: center;

}

.nav-img {
    align-self: center;
}

.nav-todo {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
    font-style: normal;
}

/* input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;

} */

/* input[type="checkbox"] {
    border-radius: 50%;
    background-color: red;
}

input[type="checkbox"]:focus {
    outline: none;
} */


/* input[type="checkbox"] {
    width: 30px;  
    height: 30px;
    -webkit-appearance: none; 
    appearance: none; 
    background-color: #fff;
    border: 0.5px solid #716d6d;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: black;
} */

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #6b6969;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: red;
}

input[type="checkbox"]:checked::before {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 10px;
height: 5px;
border: solid #fff;
border-width: 0 0 2px 2px;
transform: translate(-50%, -50%) rotate(-45deg);
transform-origin: center;
}

input[type="checkbox"]:checked::after {
    background-color: red;
}





.nav-input {
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    gap: 0.5rem;
}



