* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container {
  /* background-color: hsl(282, 62%, 86%);
  height: 100vh; */
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  overflow: hidden;
}